[submodule "depends/lrdb"]
	path = depends/lrdb
	url = https://github.com/satoren/LRDB
[submodule "depends/lpeglabel"]
	path = depends/lpeglabel
	url = https://github.com/sqmedeiros/lpeglabel
[submodule "depends/luafilesystem"]
	path = depends/luafilesystem
	url = https://github.com/keplerproject/luafilesystem
