*.sublime-workspace

**/build/*
xcode/*
common/lqt_embed.h
common/embed/*.h
test/styles/*

generator/schema/**/*.h
generator/schema/!TODO/*
modules/luasocket/embed_*.h
modules/lanes/embed_*.h

examples/!Qt-5.12.0/**/*
# examples/**/*.h
# examples/**/*.cpp
# examples/**/*.pro
# examples/**/*.png
# examples/**/*.q*
# examples/**/*.ui

