build/*
xcode/*
common/lqt_addmethod.h
test/styles/*

generator/schema/**/*.h
generator/schema/!TODO/*

examples/!Qt-5.12.0/*
examples/**/*.h
examples/**/*.cpp
examples/**/*.pro
examples/**/*.png
examples/**/*.q*
examples/**/*.ui
